.CSSMic{
    color:rgb(186, 186, 207);
    background: blueviolet;
}

.light{
    background-color:white;
    color: black;
}

.Dark{
    border: 1px solid #fff;
    background-color: rgba(22, 14, 56, 0.842);
    color:rgb(0, 0, 0);
    padding: 30px;
    margin: 10px;
    text-align: center;
}